<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='../css/styles.css'>
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../pages/quienessomos.html">Quiénes Somos</a></li>
            <li><a href="../pages/catalogo.html">Catálogo</a></li>
            <li><a href="../pages/contacto.html">Contacto</a></li>
            <li><a href="../pages/carritocompra.html">Obtener Cajas</a></li>
            <li><a href="../pages/donacionlibros.html">Donar Libros</a></li>
            <li style="float:right"><a href="#about"><img src="images/login.jpg"></a></li>
        </ul>
    </nav>


</body>
</html>